* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded',
  sans-s
}
th{
  color: white;
}
li{
  text-align: left;
  margin-left: 50px;
  color: white;
  margin-right: 90%;
}
body{
  background: url('https://files.wallpaperpass.com/2019/10/math%20wallpaper%20156%20-%202560x1600.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.container-basic{
  background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 26px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 26px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 26px 3px rgba(0, 0, 0, 0.75);
    fill-opacity: 30%;
    padding: 20px;
    padding-left: 40px;
    margin-top: 20px;
}
.sub-container{
  background-color: rgba(0,0 ,0 , 0.7);
  border-radius: 5px;
  color: white;
  margin:20px;
  padding: 20px;
}
.comun-text{
  text-align: justify;
}
.edit-zone{
  border-left: 1px solid #000
}
.math{
  color: white;
  background-color: rgba(0,0 ,0 , 0.8);
  margin:5px;
  border-radius: 5px;
}
.comment{
  font-size: small;
  margin: 35px;
}